<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{%load cache%}
    {%cache 60 title%}
        {% block title %}
        one_news
        {% endblock title %}
    {%endcache%}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<h1>{{ one_news }}</h1>
<h2>{{one_news.head}}</h2>
<h3>{{one_news.time_in|date:'d M Y'}}</h3>
<h3>{{one_news.text_post}}</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Подписаться на категорию!" />
</form>
{% endblock content %}